@page "/AddressBook"
@using Microsoft.Extensions.Localization
@using global::JS.Abp.AddressBook.Localization
@inject IStringLocalizer<AddressBookResource> L
@{
}
<h1>AddressBook</h1>
<p>@L["SamplePageMessage"]</p>